<h1>Create an account</h1>
<form action="/signup" method="post" >
    <input type="text" name="username" value="" placeholder="Name">
    <input type="email" name="email" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="*********">
    <input type="file" name="image" id="">
    <input type="submit" value="Create User">
    <p class="text-right"><em>Let the cleaning fun begin!</em></p>
</form>
{{#if error}}
    {{error}}
{{/if}}