<section>
    {{!-- <h1>Welcome <span class="{{#if isAdmin}}is-admin{{/if}}">{{user}}</span></h1> --}}
        <h1>Welcome, <span class="name">{{userFromSession.name}}</span></h1>
   {{!-- {{#if announcement}}
        <div class="announcement">
            {{announcement}}
        </div>
    {{/if}} --}}
</section>

<section>
    <h2>Your Flats</h2>
</section>