/*----- GENERAL -----*/

:root {
  --color-primary: #ACACAC;
  --color-secondary: #D8D8D8;
  --color-tertiary: #D8D8D8;
  --color-text: #000;
  --color-headlines: #000;
  --color-links: #CC752F;
  --color-border-input: #979797;
  --base-spacing: 1rem;
  --font-size-base: 1.5rem;
  --header-height: 95px;
  --footer-height: 77px;
}

body {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font: var(--font-size-base) Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

/*----- TYPOGRAPHY -----*/

h1,h2,h3,h4,h5,h6 {
  color: var(--color-headlines);
}

h1 {
  font-size: 2rem;
}

h1 .name {
  text-transform: capitalize;
}

h2 {
  font-size: var(--font-size-base);
  margin-bottom: 0.75rem;
  margin-top: 2.5rem;
}

h1+h2 {
  margin-top: 0;
}

main > section h2:first-child {
  margin-top: 0;
}

main > section:not(:first-child) h2 {
  border-top: 1px solid var(--color-secondary);
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}

p {
  margin-top: 0;
}

a {
  color: var(--color-links);
}

a.logo {
  text-decoration: none;
  font-size: 3rem;
}

ul.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


/*----- PAGE ELEMENTS -----*/

header {
  background-color: var(--color-secondary);
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: var(--base-spacing);
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

main {
  padding: calc(var(--base-spacing) * 2) var(--base-spacing) calc(var(--base-spacing) * 4);
  max-width: 750px;
  margin: var(--header-height) auto 0;
  width: calc(100% - var(--base-spacing) * 2);
  flex: 1;
}

main .logo {
  font-size: 10rem;
  text-align: center;
}

footer {
  background-color: var(--color-secondary);
  font-size: 1.2rem;
  padding: var(--base-spacing);
  text-align: right;
}

footer p {
  margin-bottom: 0;
}

footer small {
  font-size: 0.7rem;
}


/*----- CONTENT ELEMENTS -----*/

section.intro,
section.error {
  text-align: center;
}

figure {
  margin: 0;
}


/* user image */

figure.user img {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: block;
  height: 80px;
  width: 80px;
}

figure.user figcaption {
  margin: 1rem auto 0;
}


/* list flatmates */

.list-flatmates {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base-spacing);
}

.list-flatmates li {
  flex: 0 0 calc(20% - (var(--base-spacing)*4/5));
  position: relative;
}

.list-flatmates .user {
  text-align: center;
}

.list-flatmates img {
  margin: 0 auto;
}


/* list tasks */

.list-tasks li {
  display: flex;
  gap: var(--base-spacing);
  margin-top: calc(var(--base-spacing) * 2);
}

.list-tasks li .user {
  flex: 0 0 20%;
}

.list-tasks li .task {
  flex: 1 1;
}

.list-tasks li .status {
  flex: 0 0;
}


/*----- FORM ELEMENTS -----*/

input,
select,
textarea {
  border: 1px solid var(--color-border-input);
  display: block;
  font-size: var(--font-size-base);
  margin-bottom: var(--base-spacing);
  padding: var(--base-spacing);
  box-sizing: border-box;
  width: 100%;
}


/*----- BUTTONS -----*/

.btn,
button,
input[type="submit"] {
  background-color: var(--color-secondary);
  border: none;
  box-sizing: border-box;
  color: var(--color-text);
  cursor: pointer;
  font-size: calc(var(--font-size-base) * 0.9);
  font-weight: bold;
  display: block;
  letter-spacing: 1px;
  padding: var(--base-spacing);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:not(:last-child),
button:not(:last-child),
input[type="submit"]:not(:last-child) {
  margin-bottom: var(--base-spacing);
}

.btn-group {
  display: flex;
  column-gap: var(--base-spacing);
}

header .btn,
header button,
header input[type="submit"] {
  background-color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active,
button:hover,
button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: var(--color-primary);
}


/*----- BUTTONS EDIT MODE -----*/

.btn-edit {
  display: none;
}

.edit-mode .btn-edit {
  display: block;
}

.btn-add-flatmate {
  border: 2px solid currentColor;
  border-radius: 50%;
  height: 80px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  transform: scale(1);
  transition: transform 0.2s ease;
  width: 80px;
}

.edit-mode .list-flatmates li:hover button:before {
  transform: scale(1.4);
  background-color: red;
  transition: transform 0.2s ease, color 0.2s ease;
}

.btn-add-flatmate:hover,
.btn-add-flatmate:focus,
.btn-add-flatmate:active {
  transform: scale(1.15);
  transition: transform 0.2s ease;
}

.btn-add-flatmate:before {
  content: "+";
  display: block;
  font-size: 4rem;
  height: 100%;
  line-height: 4.5rem;
  text-indent: 0;
  width: 100%;
}

.list-flatmates form.delete-flatmate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}

.btn-delete-flatmate {
  background-color: transparent;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -9999px;
}

.btn-delete-flatmate:before {
  content: "–";
  text-indent: 0;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background: var(--color-secondary);
  border-radius: 50%;
  top: 0;
  right: 16px;
}

.btn-delete-flatmate:hover,
.btn-delete-flatmate:focus,
.btn-delete-flatmate:active {
  background-color: transparent;
}